@model FleetSystemManagement.Models.Costumer

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-2" for="Id">ID</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-number="The field ID is empty." data-val-required="השדה ID נדרש." id="Id" name="Id" type="text" value="" />
            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <br />
        <br />
        <div class="col-md-offset-2 col-md-10">
            <a href="#" class="btn btn-primary " onclick="RemoveCostumer()">Remove Costumer</a>
        </div>
    </div>
</div>
